/* Navbar */
header {
  position: fixed;
  font-family: "Gruppo", sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 1000;
}

.logo {
  font-family: "Teko", sans-serif;
  color: #f4f4f4;
  max-width: 7rem;
  font-size: 2rem;
  margin-right: 5rem;
  text-decoration: none;
}

.nav-list {
  cursor: pointer;
  list-style-type: none;
  display: flex;
  gap: 1.2rem;
}

.nav-list li a {
  padding: 0.3rem 0.6rem;
  margin: 0 auto;
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Gruppo", sans-serif;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

.social-icons-nav a {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.2em;
  color: #f4f4f4;
  transition: color 0.3s;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
  .nav-list {
    flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
    display: none; /* Ocultar por defecto */
    background-color: rgba(0, 0, 0, 0.9); /* Fondo para el menú */
    position: absolute; /* Posicionar el menú */
    top: 100%; /* Alinear al borde inferior del navbar */
    left: 0;
    right: 0;
    padding: 1rem; /* Espaciado interno */
    z-index: 1000; /* Asegurar que esté por encima */
    transition: transform 0.3s ease-in-out; /* Efecto de transición */
    transform: translateY(-10px); /* Desplazamiento inicial */
  }

  .nav.open .nav-list {
    display: flex; /* Mostrar el menú cuando está abierto */
    transform: translateY(0); /* Restaurar la posición */
  }

  .abrir-menu {
    display: block; /* Mostrar botón de abrir menú */
  }

  .cerrar-menu {
    display: none; /* Ocultar por defecto */
  }

  .cerrar-menu.visible {
    display: block; /* Mostrar botón de cerrar solo si el menú está abierto */
  }
}
