.footer {
  background-color: #000;
  color: #dad7d4;
  padding: 2rem;
  border-top: 1px solid #dad7d4;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; /* Definir un ancho máximo */
  margin: 0 auto;
}

.footer-left {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
}

.footer-right {
  display: flex;
  gap: 1.5rem;
}

.social-link {
  font-family: sans-serif;
  color: #777;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s; /* Añadir una transición suave al color */
}

.social-link:hover {
  color: #888;
}

/* Media queries para hacer el footer responsive */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    align-items: flex-start; /* Alinear a la izquierda */
  }

  .footer-left {
    font-size: 1.2rem; /* Reducir tamaño de fuente en pantallas pequeñas */
    margin-bottom: 1rem; /* Espacio entre los elementos */
  }

  .footer-right {
    justify-content: flex-start; /* Alinear elementos a la izquierda */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan si es necesario */
  }

  .social-link {
    font-size: 1rem; /* Reducir tamaño de fuente de los enlaces sociales */
  }
}
