@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Variables de colores para modo oscuro */
:root {
  --bg-color: #000; /* Negro */
  --text-color: #dad7d4; /* Color del texto */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
  margin: 0 auto;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

h1,
h2,
h3 {
  font-family: "Teko", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: var(--text-color);
}

p {
  font-family: "Gruppo", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: var(--text-color);
}
