.logo-v span {
  display: inline-block;
  /* Sin borde ni rectángulo */
  padding: 0.1em 0.2em;
  margin: 0 0.08em;
  background: rgba(0, 0, 0, 0.7);
}
/* Banner */
.banner {
  width: 100%;
  height: 80vh;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.7) 20%,
    /* rgba(0, 0, 0, 0.6) 80% */
  ); /* Destello fijo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner-content {
  width: 100%;
  min-height: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: destello 5s infinite alternate;
}

.logo-container {
  margin-bottom: 5rem;
  z-index: 2;
}

.logo-v {
  position: relative;
  margin: 0;
  font-weight: 500;
  font-family: "Teko", sans-serif;
  font-size: 10rem;
  text-decoration: none;
  animation: slideInFromTop 1s ease-out forwards;
  /* animation: zoomIn 1s ease-out forwards; */
  /* Sin borde ni rectángulo */
  text-shadow: 0 0 2px #fff, 0 2px 8px #000;
}

.logo-vp {
  margin: 0;
  letter-spacing: 1.4rem; /* Reducir el espaciado entre letras */
  font-size: 2.7rem;
  margin: -4rem; /* Eliminar todos los márgenes */
  padding-top: 0.1rem;
}

/* Responsive design */

/* Para pantallas medianas (tablets y más pequeñas) */
@media (max-width: 1024px) {
  .banner {
    height: 80vh;
  }

  .logo-v {
    font-size: 6rem; /* Reducir tamaño del título en pantallas medianas */
  }

  .logo-vp {
    font-size: 2.3rem; /* Reducir tamaño del subtítulo */
    letter-spacing: 0.8rem; /* Ajustar el espaciado de letras */
    margin-top: 0.3rem; /* Ajustar el margen superior */
  }
}

/* Para pantallas pequeñas (smartphones) */
@media (max-width: 768px) {
  .banner {
    height: 50vh;
  }

  .banner-content {
    padding-left: 20px; /* Reducir el padding */
    padding-right: 20px;
    padding-top: 50px;
  }

  .logo-v {
    font-size: 4.5rem; /* Reducir el tamaño del título */
  }

  .logo-vp {
    font-size: 1.8rem; /* Reducir el tamaño del subtítulo */
    letter-spacing: 0.4rem; /* Ajustar el espaciado */
    margin-top: 0.2rem; /* Ajustar margen para eliminar superposición */
  }
}

/* Para pantallas muy pequeñas (smartphones pequeños) */
@media (max-width: 480px) {
  .banner {
    height: 68vh;
  }

  .logo-v {
    font-size: 4rem;
  }

  .logo-vp {
    font-size: 1.8rem; /* Ajustar tamaño del subtítulo */
    letter-spacing: 0.3rem; /* Reducir el espaciado de letras */
    margin-top: 0.1rem; /* Eliminar cualquier superposición */
    margin: -2rem;
  }
}
