/* Banner */
.banner {
  width: 100%;
  height: 85vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: background-image 0s linear;
}

.banner-content {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Fondo con opacidad */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-container {
  margin-bottom: 5rem;
  z-index: 2;
}

.logo-v {
  font-weight: 500;
  font-family: "Teko", sans-serif;
  color: #f4f4f4;
  font-size: 8.8rem;
  text-decoration: none;
  margin: 0;
}

.logo-vp {
  letter-spacing: 1.1rem; /* Reducir el espaciado entre letras */
  font-size: 2.7rem;
  color: #ffffff;
  margin: -4rem; /* Eliminar todos los márgenes */
  padding-top: 0.1rem;
}

/* Responsive design */

/* Para pantallas medianas (tablets y más pequeñas) */
@media (max-width: 1024px) {
  .banner {
    height: 80vh;
  }

  .logo-v {
    font-size: 6rem; /* Reducir tamaño del título en pantallas medianas */
  }

  .logo-vp {
    font-size: 2.3rem; /* Reducir tamaño del subtítulo */
    letter-spacing: 0.8rem; /* Ajustar el espaciado de letras */
    margin-top: 0.3rem; /* Ajustar el margen superior */
  }
}

/* Para pantallas pequeñas (smartphones) */
@media (max-width: 768px) {
  .banner {
    height: 75vh;
  }

  .banner-content {
    padding-left: 20px; /* Reducir el padding */
    padding-right: 20px;
    padding-top: 50px;
  }

  .logo-v {
    font-size: 4.5rem; /* Reducir el tamaño del título */
  }

  .logo-vp {
    font-size: 1.8rem; /* Reducir el tamaño del subtítulo */
    letter-spacing: 0.5rem; /* Ajustar el espaciado */
    margin-top: 0.2rem; /* Ajustar margen para eliminar superposición */
  }
}

/* Para pantallas muy pequeñas (smartphones pequeños) */
@media (max-width: 480px) {
  .banner {
    height: 70vh;
  }

  .logo-v {
    font-size: 4.3rem;
  }

  .logo-vp {
    font-size: 2rem; /* Ajustar tamaño del subtítulo */
    letter-spacing: 0.3rem; /* Reducir el espaciado de letras */
    margin-top: 0.1rem; /* Eliminar cualquier superposición */
    margin: -2rem;
  }
}
