.about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinear todos los elementos a la izquierda */
  padding: 4rem 2rem;
  margin: 7rem auto;
  max-width: 1200px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.about-me-title {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 18rem; /* Título grande */
  color: #fff;
  margin: 4rem 0 0 0; /* Espacio en la parte superior para separarlo del navbar */
  text-align: left; /* Alinear a la izquierda */
  position: absolute; /* Posicionar el título en la parte superior */
  top: 2rem; /* Ajustar si es necesario */
  left: 2rem; /* Ajustar si es necesario */
  z-index: 1; /* Asegurar que esté encima */
}

.about-me-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9rem;
  align-items: center;
  margin-top: 18rem; /* Espacio entre el título y el grid */
}

.about-me-text {
  max-width: 600px;
}

.about-me p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem; /* Tamaño del texto más pequeño */
  line-height: 1.6;
  font-weight: 300;
  color: #777;
  text-align: left; /* Alinear el texto a la izquierda */
  font-style: oblique;
}

.about-me-image img {
  width: 90%;
  height: 420px;
  object-fit: cover;
  border-radius: 22px;
}
