.about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinear todos los elementos a la izquierda */
  padding: 4rem 2rem;
  margin: 7rem auto;
  max-width: 1200px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  background-color: #000; /* Fondo negro para mayor contraste */
}

.about-me-title {
  font-family: "Teko", sans-serif;
  font-weight: normal;
  font-size: 18rem; /* Título grande */
  color: #dad7d4;
  margin: 4rem 0 0 0; /* Espacio en la parte superior para separarlo del navbar */
  text-align: left; /* Alinear a la izquierda */
  position: absolute; /* Posicionar el título en la parte superior */
  top: 2rem; /* Ajustar si es necesario */
  left: 2rem; /* Ajustar si es necesario */
  z-index: 1; /* Asegurar que esté encima */
}

.about-me-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9rem;
  align-items: center;
  margin-top: 18rem; /* Espacio entre el título y el grid */
}

.about-me-text {
  max-width: 600px;
}

.about-me p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem; /* Tamaño del texto más pequeño */
  line-height: 1.6;
  font-weight: 300;
  color: #777;
  text-align: left; /* Alinear el texto a la izquierda */
  font-style: oblique;
}

.about-me-image img {
  width: 83%;
  height: 420px;
  object-fit: cover;
  border-radius: 25px;
  position: relative;
  z-index: 1;
}

.about-me-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 420px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.25); /* Overlay negro con opacidad */
  pointer-events: none;
  z-index: 2;
}

/* Media queries para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .about-me-title {
    font-size: 8rem; /* Ajustar el tamaño del título */
    top: 0.5rem;
    left: 1rem;
  }

  .about-me-grid {
    grid-template-columns: 1fr; /* Una columna para pantallas pequeñas */
    gap: 4rem; /* Reducir el espacio */
    margin-top: 8rem; /* Menor espacio arriba */
  }

  .about-me-text {
    max-width: 100%; /* Ajustar el ancho del texto */
  }

  .about-me p {
    font-size: 1.1rem; /* Texto más pequeño */
  }

  .about-me-image img {
    width: 100%; /* Imagen más grande que ocupe toda la columna */
    height: 350px; /* Ajustar la altura automáticamente */
    position: relative;
    z-index: 1;
  }
  .about-me-image::after {
    width: 100%;
    height: 350px;
    border-radius: 25px;
  }
}

/* Media queries para pantallas extra pequeñas (móviles muy pequeños) */
@media (max-width: 480px) {
  .about-me-title {
    font-size: 6rem; /* Título aún más pequeño */
    top: 2rem;
    left: 1rem;
  }

  .about-me-grid {
    gap: 2rem; /* Reducir el espacio entre elementos */
  }

  .about-me p {
    font-size: 1.3rem; /* Reducir aún más el texto */
  }
}
